---
import Layout from '../../layouts/Layout.astro';
import { getAllPosts, getPost } from '../../lib/client';
import { Markdown } from '@astropub/md';

export async function getStaticPaths() {
  const data = await getAllPosts();
  const allPosts = data.publication.posts.edges;
  return allPosts.map((post) => {
    return {
      params: { slug: post.node.slug },
    }
  })
}
const { slug } = Astro.params;
const post = await getPost(slug);
---
<Layout title={post.title}>
  <article class="prose-lg prose-pre:overflow-x-auto prose-ul:list-disc prose-a:text-blue-600 prose-a:dark:text-blue-400">
    <h1>{post.title}</h1>
    <Markdown of={post.content.markdown} />
  </article>
</Layout>
