---
import PostCard from '../../components/blog/PostCard.astro';
import PostListItem from '../../components/blog/PostListItem.astro';
import Layout from '../../layouts/Layout.astro';
import { getAllPosts } from '../../lib/client';

const data = await getAllPosts();
const allPosts = data.publication.posts.edges;

const featuredPosts = allPosts.slice(0, 3);
const otherPosts = allPosts.slice(3);
---

<Layout title="Blog">
    <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-4">
            <h2 class="text-2xl font-serif">Latest Posts</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                {featuredPosts.map((post) => <PostCard post={post.node} />)}
            </div>
        </div>
        <div class="flex flex-col gap-4">
            {
                otherPosts.map((post) => (
                    <PostListItem post={post.node} />
                ))
            }
        </div>
    </div>
</Layout>
