@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --font-sans: 'Roboto Variable', sans-serif;
    --font-serif: 'Merriweather Variable', serif;

    --color-link: var(--color-blue-800);
    --color-link-hover: var(--color-blue-600);
    --color-link-dark: var(--color-blue-400);
    --color-link-hover-dark: var(--color-blue-200);
}

code::before {
    display: none;
}

code::after {
    display: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }

    .astro-code {
        border: 1px solid var(--color-slate-400);
    }
}
