@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --font-sans: 'Roboto Variable', sans-serif;
    --font-serif: 'Merriweather Variable', serif;

    --color-link: var(--color-blue-800);
    --color-link-hover: var(--color-blue-600);
    --color-link-dark: var(--color-blue-400);
    --color-link-hover-dark: var(--color-blue-200);
}

code::before {
    display: none;
}

code::after {
    display: none;
}

.prose-lg ul p, .prose ul p, .prose-lg ol p, .prose ol p {
    margin: 0;
}

pre[class*="language-"] {
    border: 1px solid var(--color-slate-300);
    border-left-width: 5px;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }

    pre[class*="language-"] {
        border: 1px solid var(--color-slate-400);
        border-left-width: 5px;
    }
}
