---
import Layout from '../layouts/Layout.astro';
import BackgroundPattern from '../components/home/BackgroundPattern.astro';
import HeroBox from '../components/home/HeroBox.astro';
import PhotoBox from '../components/home/PhotoBox.astro';
import BookAnnouncementBox from '../components/home/BookAnnouncementBox.astro';
import AboutBox from '../components/home/AboutBox.astro';
import LocationBox from '../components/home/LocationBox.astro';
import TechStackBox from '../components/home/TechStackBox.astro';
import LatestBlogPostBox from '../components/home/LatestBlogPostBox.astro';
import FeaturedProjectBox from '../components/home/FeaturedProjectBox.astro';
import ContactBox from '../components/home/ContactBox.astro';
import { getAllPosts } from '../lib/client';

const data = await getAllPosts();
const latestPost = data.publication.posts.edges[0]?.node;
---

<Layout>
    <BackgroundPattern />

    <!-- Bento Grid Container -->
    <div class="relative grid grid-cols-2 md:grid-cols-6 auto-rows-[minmax(80px,auto)] md:auto-rows-[minmax(100px,auto)] gap-3 md:gap-4 w-full">
        <HeroBox />
        <PhotoBox />
        <BookAnnouncementBox />
        <AboutBox />
        <LocationBox />
        <TechStackBox />
        {latestPost && <LatestBlogPostBox post={latestPost} />}
        <FeaturedProjectBox />
        <ContactBox />
    </div>
</Layout>
