---
import { Image } from 'astro:assets';
import icon from '../assets/icon.png';
---

<header class="bg-zinc-100 dark:bg-zinc-700 p-2 flex items-center gap-1 border-b border-zinc-200 dark:border-zinc-600">
    <a href="/" class="flex items-center gap-1">
        <Image src={icon} alt="Joe Attardi Logo" class="h-8 w-8" />
        <h1 class="text-lg font-bold">Joe Attardi</h1>
    </a>
</header>
