---
import { Icon } from 'astro-icon/components';
import Nav from './Nav.astro';
---

<header
    class="fixed top-0 left-0 right-0 z-50 bg-zinc-100 dark:bg-zinc-700 p-2 border-b border-zinc-200 dark:border-zinc-600"
>
    <div class="max-w-7xl w-full mx-auto flex items-center justify-between gap-1">
        <a href="/" class="group relative flex items-center gap-2 font-mono font-bold text-slate-700 dark:text-slate-200 hover:text-slate-600 dark:hover:text-slate-300 hover:scale-110 -rotate-3 transition-transform translate-x-2">
            <div class="absolute -inset-x-3 -inset-y-1 -z-10 rounded-md bg-linear-to-r from-blue-500 via-purple-500 to-pink-500 opacity-20 group-hover:opacity-40 transition-opacity dark:opacity-30 dark:group-hover:opacity-50"></div>
            <Icon name="ph:code" size={24} class="" />
            joea.dev
        </a>
        <Nav />
    </div>
</header>
