<div class="logo group flex items-center gap-2">
    <div class="monogram-wrapper relative w-10 h-10">
        <div
            class="monogram-ring absolute inset-0 rounded-full opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
        </div>
        <div
            class="monogram relative rounded-full border-4 text-lg border-black dark:border-white w-10 h-10 flex items-center justify-center bg-white dark:bg-zinc-900 transition-all duration-300 "
        >
            <div class="text font-semibold flex item-center">
                <span class="transition-colors duration-300">J</span>
                <span class="transition-colors duration-300">A</span>
            </div>
        </div>
    </div>
    <h1 class="text-lg font-semibold transition-all duration-300">Joe Attardi</h1>
</div>

<style>
    .monogram-ring {
        background: conic-gradient(
            from 0deg,
            var(--color-blue-500),
            var(--color-cyan-500),
            var(--color-sky-500),
            var(--color-cyan-500),
            var(--color-blue-500)
        );
        filter: blur(6px);
        animation: spin 3s linear infinite paused;
    }

    .logo:hover .monogram-ring {
        animation-play-state: running;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .logo:hover .text {
        & > span:first-child {
            color: var(--color-blue-600);
        }

        & > span:last-child {
            color: var(--color-cyan-600);
        }
    }

    .logo:hover .monogram {
        border-color: transparent;
        box-shadow:
            0 0 0 2px var(--color-blue-500),
            0 0 10px var(--color-blue-400);
    }

    .logo h1 {
        background: linear-gradient(
            90deg,
            var(--color-blue-600),
            var(--color-cyan-600)
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: black;
    }

    .logo:hover h1 {
        color: transparent;
    }

    @media (prefers-color-scheme: dark) {
        .logo:hover .text {
            & > span:first-child {
                color: var(--color-blue-300);
            }

            & > span:last-child {
                color: var(--color-cyan-300);
            }
        }

        .logo:hover .monogram {
            border-color: transparent;
            box-shadow:
                0 0 0 2px var(--color-blue-400),
                0 0 10px var(--color-blue-300);
        }

        .logo h1 {
            color: white;
        }

        .logo:hover h1 {
            background: linear-gradient(
                90deg,
                var(--color-blue-300),
                var(--color-cyan-300)
            );
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    }
</style>
