---
import NavLink from './NavLink.astro';
---

<nav>
    <ul class="hidden md:flex items-center gap-2">
        <NavLink href="/blog">Blog</NavLink>
        <NavLink href="/projects">Projects</NavLink>
        <NavLink href="/books">Books</NavLink>
    </ul>
</nav>
