---
import NavLink from './NavLink.astro';
---

<nav class="bg-white border-2 border-zinc-200 rounded-full dark:bg-zinc-800 dark:border-zinc-500">
    <ul class="flex items-center">
        <NavLink href="/projects">Projects</NavLink>
        <NavLink href="/books">Books</NavLink>
    </ul>
</nav>
